#calculator {
    height: 320px;
    width: 420px;
    background-color: lightgrey;
    border: 2px solid lightgray;
    margin: 140px 80px;
    margin-left: 30%;
}

#name {
    background-color: black;
    height: 30px;
    color: white;
    margin-left: 6px;
    margin-right: 6px;
}

h2 {
    margin-left: 38%;
}

#screen {
    height: 70px;
    background-color: white;
    margin: 4% 2%;
}


#btn1 {
    height: 30px;
    width: 100px;
    margin-left: 1%;
}

#btn2 {
    height: 30px;
    width: 100px;
    margin-left: -1px;
}

#btn3 {
    height: 30px;
    width: 100px;
    margin-left: -1px;
}

#btn4 {
    height: 30px;
    width: 100px;
    margin-left: -1px;
    border: none;
    background-color: #C14444;
    color: white;

}

#btn5 {
    height: 30px;
    width: 100px;
    margin-left: 1%;
    margin-top: 3px;
}

#btn6 {
    height: 30px;
    width: 100px;
    margin-left: -1px;
}

#btn7 {
    height: 30px;
    width: 100px;
    margin-left: -1px;
}

#btn7a {
    height: 30px;
    width: 100px;
    margin-left: -1px;
    border: none;
    background-color: #C14444;
    color: white;
}


#btn8 {
    height: 30px;
    width: 100px;
    margin-left: 1%;
}

#btn9 {
    height: 30px;
    width: 100px;
    margin-left: -1px;
    margin-top: 3px;
}

#btn10 {
    height: 30px;
    width: 100px;
    margin-left: -1px;
}

#btn11 {
    height: 30px;
    width: 100px;
    margin-left: -1px;
    border: none;
    background-color: #C14444;
    color: white;
}

#btn12 {
    height: 30px;
    width: 100px;
    margin-left: 1%;
    margin-top: 3px;
}

#btn13 {
    height: 30px;
    width: 100px;
    margin-left: -1px;
}

#btn14 {
    height: 30px;
    width: 100px;
    margin-left: -1px;
}

#btn15 {
    height: 30px;
    width: 100px;
    margin-left: -1;
    border: none;
    background-color: #C14444;
    color: white;
}

#btn16 {
    height: 30px;
    width: 204px;
    margin-left: 1%;
    margin-top: 3px;
}

#btn17 {
    height: 30px;
    width: 100px;
    margin-left: -1px;
}

#btn18 {
    height: 30px;
    width: 100px;
    margin-left: -1px;
    border: none;
    background-color: #C14444;

    color: white;
}

.button:hover {
    /* background-color: var(--orange); */
    background-color: #FFC877;


}